<footer class="container-footer">
    <section class="container__row">
        <div>
            <button class="container__row-logo">
                <img class="button" src="https://www.francobordo.com/images/productos/thumbnails/bandera-espana-20-x-30-cm-1-8378_thumb_432x345.png" alt="icono-espana">
                <p class="parraf">ES ▾</p>
            </button> 
        </div>
    
        <div class="container__row-links">
                <ul class="row__ul">
                    <a class="link" href="#">Configuración y ayuda</a>
                    <a  class="link" href="#">Publicidad</a>
                    <a  class="link" href="#">Contacto</a>
                    <a  class="link" href="#">Aviso legal</a>
                    <a  class="link" href="#">Política de Cookies</a>
                    <a  class="link" href="#">Política de Privacidad</a>
                </ul>
        </div>
        <div class="container__row-img">
            <img class="row-logo" src="https://cdnbitmaps.eltiempo.es/images/content/pelmorex-corp2x.png" alt="">
            
        </div>
    
    </section>

    <section class="container__row-links">
        <ul class="row__ul-dos">
            <a class="link" href="#">TheWeatherNetwork.com</a>
            <a  class="link" href="#">Farmzone</a>
            <a  class="link" href="#">MéteoMédia.com</a>
            <a  class="link" href="#">TheWeatherNetwork.com/uk</a>
            <a  class="link" href="#">Otempo.pt</a>
            <a  class="link" href="#">Clima.com</a>
            <a  class="link" href="#">Clima do Brasil</a>
        </ul>
    </section>

    <section class="final-footer">
        <h2>El tiempo, Pelmorex Weather Network</h2>
    </section>
</footer>
