<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<app-article></app-article>
<app-video-row
[noticias]="data"
    title=" ÚLTIMOS VIDEOS "
    subtitle=" TV eltiempo "
    ></app-video-row>
<app-video-row
[noticias]="data"
    title=" TV eltiempo "
    subtitle=" La previsión de eltiempo.es "
    ></app-video-row>
<app-video-row
[noticias]="data"
    title=" TV eltiempo "
    subtitle=" Actualidad "
></app-video-row>
<app-video-row
[noticias]="data"
    title=" TV eltiempo "
    subtitle=" Escapadas "
    ></app-video-row>
<app-follow-block></app-follow-block>
<app-footer></app-footer>