<div class="app-faq-item">
    <div class="app-faq-item__header" [ngClass]="{'app-faq-item__header--opened': opened}" (click)="changeState()">
        <h2 class="faq-item-question animated fadeInLeft">{{ title }}</h2>
        <span class="faq-item-icon">
            <i class="fas fa-chevron-down" [ngClass]="{'faq-item-icon--opened': opened}" ></i>
        </span>

    </div>
    <div class="app-faq-item__body" [ngClass]="{'app-faq-item__body--opened': opened}">
        <div class="app-faq-item__body-wrapper">
            {{ body }}
        </div>
    </div>
</div>