
.menu
  height: 80px
  padding-top: 18px
  padding-left: 30px


.menu-li
  display: inline-block
  margin: 10px 20px

  &__link 
    text-decoration: none
    color: #FFF

  &__link:hover
    color: #FFF
    border-bottom: 2px solid #e7c172
  
#charac
  font-size: 20px