<header>
    <div class="container">
        <div class="container__image">
            <img src="https://cdnbitmaps.eltiempo.es/images/content/logo2x.svg" alt="logo">
        </div>
        
            <ul class="container__links">
                <a class="container__links-link" href="#">Predicciones</a>
                <a class="container__links-link" href="#">Mapas</a>
                <a class="container__links-link" href="#">Salud</a>
                <a class="container__links-link" href="#">Calidad del Aire</a>
                <a class="container__links-link" href="#">Noticias</a>
                <a class="container__links-link" href="#">Fotos</a>
                <a class="container__links-link" href="#">Videos</a>
            </ul>
       
        <div class="container__user">
            <img src="https://cdnbitmaps.eltiempo.es/images/content/user/avatar.svg" alt="user">
        </div>
    </div>
    <div class="container-down">
        <div class="container-down__input">
            <input class="first-input" type="text" placeholder="El tiempo en..">
            <img class="image-input" src="https://image.flaticon.com/icons/png/512/70/70490.png" alt="serach icon">
            <button class="first-btn" type="button">Últimas consultas</button>
            <img class="image-clock" src="https://cdn.onlinewebfonts.com/svg/img_451613.png" alt="clock icon">
            <img class="image-arrow" src="https://static.thenounproject.com/png/10897-200.png" alt="arrow icon">
        </div>
        <div class="container-down__buttons">
            <button class="second-btn" type="button">Playas</button>
            <button class="second-btn" type="button">Polen</button>
        </div>
   
    </div>

</header>
