<div class="container">
    <div class="container-row">
        <div class="container__texto">
            <h4 class="text-h4">{{title}}</h4>
            <h1>{{subtitle}}</h1>
        </div>
        <div class="container__button">
            <button class="button">＜</button>
            <button class="button">＞</button>
        </div>
    </div>
    
    <div class="container-video">
        <div class="container-video__row">
            <div class="container-width" *ngFor="let noticia of _data">
                <div >
                    <div> 
                        <img class="image" src={{noticia.url}} alt="foto">
                    </div>
                    <h1 class="title">{{noticia.title}}</h1>
                    <p class="parraf">{{noticia.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
