
<article class="footer">
    <div class="footer__up">
        <p>Spain</p>
    </div>

    <div class="footer__down">
        <div class="footer-links">
            <a class="footer-left" href="#">Advertising</a>
            <a class="footer-left" href="#">Business</a>
            <a class="footer-left" href="#">About</a>
            <a class="footer-left" href="#">Home Search Works</a>
        </div>
        <div class="footer-privacy">
                <a class="footer-left" href="#">Privacy</a>
                <a class="footer-left" href="#">Terms</a>
                <a class="footer-left" href="#">Settings</a>
            </div>
    </div>
</article>

    
