<article class="container">
    <div class="container-row">
        <div class="container__text">
            <h2>En la piel de</h2>
            <p>TV eltiempo</p>
        </div>
        <div class="container__image">
            <img class="icono-video" src="https://cdn.pixabay.com/photo/2015/12/03/01/27/play-1073616_960_720.png" alt="icono video">
        </div>
    </div>
    <div class="container-video">
        <img class="container__img" src="https://cf-images.us-east-1.prod.boltdns.net/v1/jit/3251589525001/b366ea77-a8c1-4a4d-9540-68903a4fac74/main/1280x720/47s488ms/match/image.jpg" alt="video">
        <div class="container__text">
            <h3>Así trabajan los 'enemigos del fuego'</h3>
            <p>Así trbaja la brigada de refuerzo en incendios forestales
                de Guadalajara, un equipo de profesionales que protege,
                previene y ayuda a extinguir los incendios en España.
            </p>
            <small>1 julio 2019</small>
        </div>
    </div>
</article>