<div class="disc-component">
  <h1 class="title">
    <a class="link1" routerLink="/home">FNAC</a>
  </h1>
  <div class="disc-component__buttons">

    <h2 class="home-component-text">
      <button class="button"><a class="link" routerLink="/films">Films</a></button>
    </h2>
    <h2 class="home-component-text">
      <button class="button"><a class="link" routerLink="/games">Games</a></button>
    </h2>
    <h2 class="home-component-text">
      <button class="button"><a class="link" routerLink="/discs">Discs</a></button>
    </h2>
  </div>
  <section class="disc-section" *ngIf="disc">
    <div class="disc-section__content">
      <h3>{{ disc.singer }}</h3>

      <p>{{ disc.year }}</p>

      <p>{{ disc.songs }}</p>
    </div>
  </section>

</div>
