.app-tab-header
  background-color: #2888d6

  &__header
    display: flex

  &__parraf
    margin: 0
    
    .parraf
      color: #adadad
      background-color: white
      padding: 20px
      margin: 0

.app-tab-link 
  list-style: none 

  li
    color: white
    padding-left: 50px
    margin: 0

.app-tab-icon
  padding-top: 14px
  
.hidden
  display: none

  &--opened
    display: block

  