
 <div class="app-tab-header">
    <div class="app-tab-header__header" [ngClass]="{'app-faq-item__header--opened': opened}">
        <div class="app-tab-links">
            <ul class="app-tab-link" >
                <li class="link" (click) = "clickOn()">{{title}}</li>
                
            </ul>
        </div>
    </div>
   
</div>

<div class="app-tab-header__parraf" [ngClass]="{'app-faq-item__body--opened': opened}">
    <p class="parraf hidden" [ngClass]="{'hidden--opened': opened}">{{body}}</p>
</div>

    

